/* Fil rouge : selecteur, dimension, couleurs */
/* Texte */
/* Background */
/* Boxes */
/* Positioning */
/* Flex */
/* Grid */
/* Pseudo classe */
/* Debug */
/* Responsive */

/* Import du google font police */
/* Methode 1 (à éviter) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* Methode 2 (à privilégié) */
@font-face {
    /* on nomme notre police au cas ou on veut changer dans le futur il suffira de le faire seulement ici */
    font-family: "font-1";
    /* source de la police */
    src: url(./assets/NotoSans-Medium.ttf)
}

/* Mini reset css */
/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: "font-1", sans-sherif;
    /* La propriété background regroupe plusieurs propriétées */
    /* center/cover left/right : comment on positionne l'image  */
    background: url(./assets/bg.jpg) no-repeat fixed center/cover;
    /* Hauteur : 100% de l'écran de l'utilisateur */
    /* height: 100vh; */
    /* Suprime les marges et donc le scroll */
    /* overflow: hidden; */
}

/* Selectionne tous les h1 (normalement un par page HTML) */
h1 {
    /* Transforme le texte en majuscule */
    text-transform: uppercase;
    /* Espace entre les lettres */
    letter-spacing: 2px;
    /* Taille de la police TOUOURS en rem (1 rem = 16px) */
    font-size:2.5rem;
    /* Couleur du texte */
    /* rgba : un parametre en plus l'ombre du texte */
    color: rgb(0, 0, 139);
    /* Ombre texte: axe x, axe y, flou,couleur */
    /* A réaliser avec l'inspecteur sur google */
    text-shadow: 5px 3px 0 #85dadab6;
    /* text-align permet d'aligner le texte a droite a gauche au centre justify */
    text-align: center;
    /* Utilisation de la police importé au début du fichier */
    /* deuxieme police : au cas ou la police Parisienne n'est pas connu */
    /* Balise plus précise donc le h1 prend cette nouvelle police et non celle du body */
    font-family: 'Playfair Display', serif;
}

/* Application précise -> recherche google */
/* ici permet de changer la premiere lettre de la basile html sélectionner */
h1::first-letter {
    color: red;
}

main {
    background: whitesmoke;
    /* Très Bonne pratique : largeur en 85% */
    width: 90%;
    min-height: 500px;
    /* Centrer sur la page haut droite bas gauche */
    /* Send des aiguilles d'une montre en commencant a midi */
    /* 2 valeurs : haut/bas gauche/droite */
    /* auto : même valeurs a gauche et à droite */
    margin: 10px auto;
    /* marge intérieur */
    padding: 15px;
    /* Arrondir les bors */
    border-radius: 15px;
    /* Ombre */
    /* Bonne pratique : intensité -> 0.25 */
    box-shadow: 1px 2px 12px 5px rgba(0, 0, 0, 0.269);
}

/* Selectionne la classe="positioning */
.positioning {
    border: 2px solid skyblue;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
}

h2 {
    margin: 0;
}

#circle {
    height: 60px;
    width: 60px;
    background: skyblue;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    /* On le positionne la ou on veut dans son élément parents si l'élément parent est en position relative */
    top: -10px;
    right: 110px;
    box-shadow: 0 2px 12px 5px rgba(51, 51, 51, 0.13) ;
}