/* Fil rouge : selecteur, dimension, couleurs */
/* Texte */
/* Background */
/* Boxes */
/* Positioning */
/* Flex */
/* Grid */
/* Pseudo classe */
/* Debug */
/* Responsive */

/* Import du google font police */
/* Methode 1 (à éviter) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* Methode 2 (à privilégié) */
@font-face {
    /* on nomme notre police au cas ou on veut changer dans le futur il suffira de le faire seulement ici */
    font-family: "font-1";
    /* source de la police */
    src: url(./assets/NotoSans-Medium.ttf)
}

/* Mini reset css */
/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: "font-1", sans-sherif;
    /* La propriété background regroupe plusieurs propriétées */
    /* center/cover left/right : comment on positionne l'image  */
    background: url(./assets/bg.jpg) no-repeat fixed center/cover;
    /* Hauteur : 100% de l'écran de l'utilisateur */
    /* height: 100vh; */
    /* Suprime les marges et donc le scroll */
    /* overflow: hidden; */
}

/* Selectionne tous les h1 (normalement un par page HTML) */
h1 {
    /* Transforme le texte en majuscule */
    text-transform: uppercase;
    /* Espace entre les lettres */
    letter-spacing: 2px;
    /* Taille de la police TOUOURS en rem (1 rem = 16px) */
    font-size:2.5rem;
    /* Couleur du texte */
    /* rgba : un parametre en plus l'ombre du texte */
    color: rgb(0, 0, 139);
    /* Ombre texte: axe x, axe y, flou,couleur */
    /* A réaliser avec l'inspecteur sur google */
    text-shadow: 5px 3px 0 #85dadab6;
    /* text-align permet d'aligner le texte a droite a gauche au centre justify */
    text-align: center;
    /* Utilisation de la police importé au début du fichier */
    /* deuxieme police : au cas ou la police Parisienne n'est pas connu */
    /* Balise plus précise donc le h1 prend cette nouvelle police et non celle du body */
    font-family: 'Playfair Display', serif;
}

/* Application précise -> recherche google */
/* ici permet de changer la premiere lettre de la basile html sélectionner */
h1::first-letter {
    color: red;
}

main {
    background: rgba(245, 245, 245, 0.912);
    /* Très Bonne pratique : largeur en 85% */
    width: 90%;
    min-height: 500px;
    /* Centrer sur la page haut droite bas gauche */
    /* Send des aiguilles d'une montre en commencant a midi */
    /* 2 valeurs : haut/bas gauche/droite */
    /* auto : même valeurs a gauche et à droite */
    margin: 10px auto;
    /* marge intérieur */
    padding: 15px;
    /* Arrondir les bors */
    border-radius: 15px;
    /* Ombre */
    /* Bonne pratique : intensité -> 0.25 */
    box-shadow: 1px 2px 12px 5px rgba(0, 0, 0, 0.269);
}

/* Selectionne la classe="positioning */
.positioning, 
.flexbox,
.grid {
    border: 2px solid skyblue;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
}
/********************************** Positioning ***********************************/
.positioning {
    position: relative;
}

h2 {
    margin: 0;
}

#circle {
    height: 60px;
    width: 60px;
    background: skyblue;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    /* On le positionne la ou on veut dans son élément parents si l'élément parent est en position relative */
    top: -10px;
    right: 110px;
    box-shadow: 0 2px 12px 5px rgba(51, 51, 51, 0.13) ;
    /* Pour faire passé le cercle au dessus des éléments qui le suivent dans le HTML */
    z-index: 1;
}

#rectangle {
    height: 15px;
    /* 25% de la taille de son parent */
    /* width: 25%; */
    width: 100px;
    background: slateblue;
    padding: 20px;
    position: absolute;
    bottom: 2px;
    /* centrer l'élément sur l'axe des x par rapoort a la bordure gauche de l'élément*/
    left: 50%;
    /* Permet de centrer l'élément sur l'axe des x en lui disant tu revient de 50 a gauche de ta largeur */
    transform: translateX(-50%);
}

/********************************** Flexbox ***********************************/
ul {
    display: flex;
    /* Positionnement des enfants */
    justify-content: space-around;
    /* Supression du padding de base */
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 0.7rem;
    /* Creation de box */
    height: 160px;
    width: 160px;
    background: turquoise;
    display: flex;
    /* Centrer les éléments verticalement */
    align-items: center;
    /* Centrer les éléments horizontalement */
    justify-content: center;
}

.grid-container > img {
    height: 200px;
}

/********************************** Grid ***********************************/

/* Possede deux enfants */
.grid-container {
    display: grid;
    /* Détermine la taille accordé aux enfants */
    grid-template-columns: 30% 70%;
}

form {
    display:grid;
    /* On dessine un grid */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
            "i1 i2"
            "ta ta"
            "bt bt";
}

input,
textarea {
    margin: 5px;
    height: 45px;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: "font-1";
}

/* On attribut chaque élément a nos balise html */
#fristname {
    grid-area: i1;
}

#surname {
    grid-area: i2;
}

textarea {
    grid-area: ta;
    /* Empecher le redimenssionnement de la text area */
    resize: none;
}

input[type="submit"] {
    grid-area: bt;
    /* Montrer que le bouton est cliquable */
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
}

input[type="submit"]:hover {
    background: darkblue;
    color: white;
}